<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <title> Attendance Form </title>
</head>
<body>
   <div class="app">
    <h1>Attendance Form</h1>
    <form>
        <input id="input-text" type="text" placeholder="Enter Student First Name" required/>
        <input id="input-text-1" type="text" placeholder="Enter Student Last Name" required/>
        <input id="input-text-2" type="text" placeholder="Enter Student Matriculation Number" required/>

        <label>select student's gender</label>
        <select id="gender">
            <option>Male</option>
            <option>Female</option>
        </select>
        <div id="absent1">
            <input type="checkbox" id="absent">
            <label> Mark Student Absent </label>
        </div>
        <div id="sick1">
            <input type="checkbox" id="sick">
            <label> Mark Student Sick </label>
        </div>
        <button type="button" id="form"> CheckOut Attendance </button>
    </form>

    <div id="checkout">

        <h1 id="names"></h1>

        <div class="details">
            <p>Matriculation Number</p>
         <p id="matric"></p>
        </div>

       <div class="details">
        <p >Gender</p>
         <p id="genderText"> </p>
       </div>

        <div class="details">
            <p> Status </p>
            <p id="absentText"></p>
        </div>
        <div class="details">
            <p> Health Status </p>
            <p id="sickText"></p>
        </div>
        <button id="submitAttendance"> Submit Attendance </button>
    </div>
    <script src="../static/index.js"></script>
   </div>
</body>
</html>