<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/output.css">
    <title>Registration Page</title>
</head>
<body>
    <div class="bg-green-color flex justify-between px-7 relative">
        <h1 class="px-5 py-3 text-white text-2xl uppercase font-semibold">Register Students</h1>
        <div class="text-green-color flex space-x-5 items-center">
            <a class="bg-white px-3 py-2 rounded font-semibold transition hover:scale-105 cursor-pointer"> Login As Admin </a>
            <a class="bg-white px-3 py-2 rounded font-semibold transition hover:scale-105 cursor-pointer"> Mark an Attendance </a>
        </div>
    </div>

    <div class="bg-green-color w-[400px] fixed my-4 rounded top-20 right-5 shadow-xl transition ease-in-out duration-300 hidden" id="notification">
        <p class="text-white px-5 py-3 text-xl"> <strong> INFO: </strong> Registration is Successful </p>
    </div>

    <div>

        <div class="mx-10 my-5">

                <div class="flex align-middle my-4 space-x-10">
                    <p class="uppercase text-xl my-auto text-green-color"> First Name </p>
                    <input id="input--fName" type="text" placeholder="First Name" class="border outline-none px-3 py-2 align-middle w-[300px] text-xl"/>
                </div>

                <div class="flex my-4 space-x-10">
                    <p class="uppercase text-xl my-auto text-green-color"> Last Name </p>
                    <input id="input--lName" type="text" placeholder="Last Name" class="border outline-none px-3 py-2 align-middle w-[300px] text-xl"/>
                </div>

                <div class="flex my-4 space-x-10">
                    <p class="uppercase text-xl my-auto text-green-color"> Matric Number </p>
                    <input id="input--matricNum" type="text" placeholder="Matric Number" class="border outline-none px-3 py-2 align-middle w-[300px] text-xl"/>
                </div> 
                <div class="flex space-x-10 my-4">
                    <p class="uppercase text-xl text-green-color"> Gender </p>
                    <fieldset class="flex space-x-5 text-green-color"> 
                        <input type="radio" name="gender" value="male">Male </input>
                        <input type="radio" name="gender" value="female">Female</input>
                    </fieldset> 
                </div>
               <hr />
                    <h2 class="mt-5 text-2xl uppercase text-green-color">Course List (Check Yes or No if student offer them or Not)</h2>

                    
                        <div class="mx-auto text-center">
                            <div class="flex my-5 text-xl space-x-4">
                                <p class="font-bold text-green-color"> GEDS 420 </p>
                                <fieldset class="flex space-x-5"> 
                                    <input type="radio" name="yes-geds_420" value="Yes">Yes </input>
                                    <input type="radio" name="yes-geds_420" value="No">No</input>
                                </fieldset> 
                            </div>
                   
                            <div class="flex my-5 text-xl space-x-4">
                                <p class="font-bold text-green-color"> ITGY 402 </p>
                                <fieldset class="flex space-x-5"> 
                                    <input type="radio" name="yes-itgy_402" value="Yes">Yes </input>
                                    <input type="radio" name="yes-itgy_402" value="No">No</input>
                                </fieldset> 
                            </div>
                   
    
                            <div class="flex my-5 text-xl space-x-4">
                                <p class="font-bold text-green-color"> GEDS 400 </p>
                                <fieldset class="flex space-x-5"> 
                                    <input type="radio" name="yes-geds_400" value="Yes">Yes </input>
                                    <input type="radio" name="yes-geds_400" value="No">No</input>
                                </fieldset> 
                            </div>
    
                            <div class="flex my-5 text-xl space-x-4">
                                <p class="font-bold text-green-color"> ITGY 408 </p>
                                <fieldset class="flex space-x-5"> 
                                    <input type="radio" name="yes-itgy_408" value="Yes">Yes </input>
                                    <input type="radio" name="yes-itgy_408" value="No">No</input>
                                </fieldset> 
                            </div>
    
                            <div class="flex my-5 text-xl space-x-4">
                                <p class="font-bold text-green-color"> ITGY 312 </p>
                                <fieldset class="flex space-x-5"> 
                                    <input type="radio" name="yes-itgy_312" value="Yes">Yes </input>
                                    <input type="radio" name="yes-itgy_312" value="No">No</input>
                                </fieldset> 
                            </div>
    
                            <div class="flex my-5 text-xl space-x-4">
                                <p class="font-bold text-green-color"> ITGY 406 </p>
                                <fieldset class="flex space-x-5"> 
                                    <input type="radio" name="yes-itgy_406" value="Yes">Yes </input>
                                    <input type="radio" name="yes-itgy_406" value="No">No</input>
                                </fieldset> 
                            </div>
    
                            <div class="flex my-5 text-xl space-x-4">
                                <p class="font-bold text-green-color"> COSC 430 </p>
                                <fieldset class="flex space-x-5"> 
                                    <input type="radio" name="yes-cosc_430" value="Yes">Yes </input>
                                    <input type="radio" name="yes-cosc_430" value="No">No</input>
                                </fieldset> 
                            </div>
    
                            <div class="flex my-5 text-xl space-x-4">
                                <p class="font-bold text-green-color"> GEDS 002 </p>
                                <fieldset class="flex space-x-5"> 
                                    <input type="radio" name="yes-geds_002" value="Yes">Yes </input>
                                    <input type="radio" name="yes-geds_002" value="No">No</input>
                                </fieldset> 
                            </div>
    
                            <button id="submit" class="bg-green-color px-7 py-3 text-white uppercase text-2xl rounded hover:bg-white hover:border hover:border-green-color hover:text-green-color duration-500 ease-out">
                                Register
                            </button>
                        </div>
        </div>

    </div>
    <script src="../static/RegistrationPage.js"></script>
</body>
</html>